<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866622305386-hnor3774od1em24pcoer6ntbp4alftc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866622305386-hnor3774od1em24pcoer6ntbp4alftc1</string>
	<key>API_KEY</key>
	<string>AIzaSyC-3ZCyOn-xz6VpPPQYQU8ogvf0qCE6bKc</string>
	<key>GCM_SENDER_ID</key>
	<string>866622305386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-379ff</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-379ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866622305386:ios:dd8900b778b0a6a0f84613</string>
</dict>
</plist>